

@font-face {
    font-family: OpenCake;
    src: url("/fonts/OpenCake.otf") format("opentype");
}


@font-face {
    font-family: 'Comfy Feelings';
    src: url("/fonts/Comfy Feeling.otf") format("opentype");
}